@use "./variables" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $base-font;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: $color-text;
    max-width: 100%;
    overscroll-behavior-y: none;
    background-color: $color-page-bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
}

input,
textarea,
select {
    font: inherit;
    color: inherit;
}

:focus-visible {
    outline: none;
}

img,
svg,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

::placeholder {
    color: grey;
}