$base-font: 'Nunito', Arial, sans-serif;
$font-title: 'GeorgiaCustom', Georgia, serif;

$color-page-bg: #f9ede1;
$color-light-bg: #fefaf5;
$color-control-bg: #fdf5ec;
$color-line: #eee0d0;
$color-primary: #ea8386;
$color-brand: #804c30;
$color-text: #270f0A;
$color-input-bg: #fefdfa;

$breakpoint-xl: 1200px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;